@page "/peliculas/crear"
@inject NavigationManager _navigationManager

<h3>CrearPelicula</h3>

<FormularioPelicula Pelicula="Pelicula" OnValidSubmit="Crear" GenerosNoSeleccionados="GenerosNoSeleccionados" />

@code {
    Pelicula Pelicula = new Pelicula();
    private List<Genero> GenerosNoSeleccionados = new List<Genero>();

    protected override void OnInitialized()
    {
        GenerosNoSeleccionados = new List<Genero>()
        {
            new Genero(){Id = 1, Nombre = "Comedia"},
            new Genero(){Id = 2, Nombre = "Drama"},
            new Genero(){Id = 3, Nombre = "Acción"},
            new Genero(){Id = 4, Nombre = "Sci-fi"}
        };
    }

    void Crear()
    {
        Console.WriteLine(_navigationManager.Uri);
        _navigationManager.NavigateTo("pelicula");
    }
}