@page "/personas/crear"
<h3>Crear Persona</h3>

<FormularioPersona Persona="Persona" OnValidSubmit="Crear" />

@code {
    Persona Persona = new Persona();

    void Crear()
    {
        Console.WriteLine("Crear persona");
    }
}